.side-drawer {
    height: 100%;
    background: #01B8F1;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0 ;
    left:0 ;
    width:70%;
    max-width: 400px;;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
}

.side-drawer.open{
    transform: translateX(0);
}
.side-drawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.side-drawer li{
    margin: 1rem 0;
}
.side-drawer a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Circular Std";
}
.side-drawer a:hover,
.side-drawer a:active{
    background: white;
    color: #01B8F1;
    padding: 10px 20px;
    border-radius: 18px;
}
.side-drawer .buy_now{
    text-align: center;
    color: #FFFFFF;	
    font-family: "Circular Std";	
    font-size: 9px;	
    font-weight: bold;	
    letter-spacing: 2.7px;	
    line-height: 36px;	
    height: 36px;	
    width: 124px;	
    border-radius: 18px;	
    background-color: #037497;
   
}

.side-drawer .fas{
    color: #FFFFFF;
    display: block;
    align-self: center;	
   
}
@media (min-width: 769px){
    .side-drawer{
        display: none;
    }
}